#sidebar-holder {
  max-width: 100px;
  flex-direction: column;
  background-color: #fff292;
  display: flex;
  left:0;
  top:0;
  bottom:0;
  position:fixed;
}
.sidebar {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sidebar img {
  height:30px;
  width:30px;
  padding: 10px;
}
#settings-button {
  position: fixed;
  bottom: 25px;
}
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding:0;
  
}
div.content {
  margin-left:100px;
}
#intro-text {
    flex-direction: column;

}
#preview-img {
  width: 400px;
  height: auto;
  justify-content: center;
  transform: translate(30%,30%);
}
#preview-img:hover {
  filter: brightness(80%);
}
div.scroll-container {
  position: fixed;
  bottom: 0;
  background-color: rgb(116, 115, 115);
  padding: 10px;
  white-space:nowrap;
  overflow:auto;
}
div.scroll-container img {
  width: 270px;
  height: 170px;
  padding: 5px;
}


#settings-body {
  display:flex;
  flex-direction: column;
}
#settings-exit {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius:2px;
  position: fixed;  
  right:0;
  padding: 2px;
  margin-top: 30px;
  margin-right:550px;
}
#about-button {
  text-decoration: none;
  background-color: rgb(239, 239, 239);
  color: black;
  font-weight: bold;
  text-align: right;
  border: 1px solid black;
  padding: 2px;
  border-radius: 3px;
  position: absolute;
}
#about-body {
  display: flex;
  flex-direction: column;
}
.edit-button {
  margin-left:200px;
}

