body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.verification-header img {
  width: 50px;
}
.verification-card {
  width: 400px;
  height: 600;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  padding: 24px;
  font-family: "poppins", sans-serif;
  color: #333;
  border: 2px solid black;
}

.verification-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.verification-header img {
  width: 40px;
  height: 40px;
}

.verification-header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.verification-card hr {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
  margin: 16px 0;
}

.verification-content p {
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 12px;
}

.verification-content div:last-child p {
  margin-bottom: 0;
}

.verification-code {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 20px auto;
}
.code-input {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 8px;
}
